<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <strong>Add Your Vaccination History</strong>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <form class="text-center border border-light p-5" style="width: 450px; left: 5%; position: relative; top: 10px">
            <select class="browser-default custom-select mb-4">
                <option value="" selected disabled>Select Your Vaccine</option>
                <option value="2">Covaxin</option>
                <option value="3">Covishield</option>
                <option value="3">Sputnik</option>
                <option value="4">Pfizer</option>
            </select>
            <input type="text" id="illness" class="form-control mb-4" placeholder="Enter your Illness">
            <div class="display-flex">
                Enter Date: 
                <input style="width: 75%; margin-left: 5px;" type="date" id="date2" class="form-control" placeholder="Enter Date">
            </div>
            <br>
            <button type="button" class="btn btn-primary">Submit</button>
        </form>



    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <strong>Find your Slot for Vaccine</strong>
            </mat-panel-title>
        </mat-expansion-panel-header>



    </mat-expansion-panel>
</mat-accordion>