
.mat-expansion-panel {
    width: 700px;
}

.mat-expansion-panel-body {
    display: flex;
    justify-content: center;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
}
table {
    border-collapse: collapse;
}


  