/* You can add global styles to this file, and also import other style files */

html, body {    
    max-height: 100vh;
    font-size: 16px;
    margin: 0;
    font-family: sans-serif;
}

.display-flex {
    display: flex;
    align-items: center;
}

.mat-expansion-panel-body {
    background-color: #dd606096;
}